.posts-container {
    width: 50%;
    margin: 10px auto;
  }
  h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
    padding-top: 30px;
  }
  .post {
    border-top: solid #f8b600;
    margin-top: 10px;
    padding-top: 20px;
  }
  .main-box {
    margin: 5px;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }
  
  .button {
    font-family: 'Zen Maru Gothic', sans-serif;
  }

  .slide {
    position   : relative;
    overflow   : hidden;
    margin     : auto;
    margin-top : 65px;
    width      : 792px;
    height     : 522px;    
    background : white;
  }

  .slide a{
    
    display    : block;
    position   : absolute;
    width      : 792px;
    height     : 522px;
    left       : 100%;
    animation  : slideAnime 18s ease infinite;
  }



  .slide a:nth-of-type(1) { animation-delay: 0s }
  .slide a:nth-of-type(2) { animation-delay: 6s }
  .slide a:nth-of-type(3){ animation-delay: 12s }

  @keyframes slideAnime{
    0% { left: 792px }
    3% { left: 0     }
   30% { left: 0     }
   33% { left: -792px }
  100% { left: -792px }
 }

.postslist6{
  display: flex;
  justify-content: center;
}
.postslist5{
  display: inline-block;
}
.postslist4{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.postslist4::before{
  margin: 2em 0.5em ;
  padding:2.5em 2em 2em;
  content:"";
  display: block;
  width:100vw;
  order:1;
}
.postslist4::after{
  margin: 2em 0.5em ;
  padding:2.5em 2em 2em;
  content:"";
  display: block;
  width:100vw;
}

.post{
  border: 2px solid #f8b600;
  border-radius: 10px;
  margin: 2em 0.5em ;
  background-color: white;/*ボックス背景色*/
  padding:2.5em 1em 2em;/*ボックス内側余白*/
  position:relative;/*配置(ここを基準に)*/
  height: 265px;
  width: 195px;
}



