.field {
    width: 20%;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.actions {
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-top: 30px;
  }

.tomoya{
    width: 50%; 
    margin: 40px auto; 
    text-align: center;  
}


