.actions{
    text-align: center;
}

.field{
    width: 20%;
    height: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    margin: 10px auto;
  }

.delete{
    text-align: center;
    margin: 40px;
}

.edit{
    text-align: center;
    margin-top: 80px;
}
  