.h3{
  text-align: center;
  display: flex;
}

.form-group{
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  margin: 30px auto;
}

.button {
  width: 200px;
  font-size: 20px;
  margin-bottom: 30px;
}

.akiyama{
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}

.kimuch{
  margin-top: 50px;
  text-align: center;
}

.field{
  width: 20%;
  height: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  margin: 10px auto;
}



